server:
  port: 8082

spring:
  application:
    name: document-service
  profiles:
    include: common
  task:
    execution:
      pool:
        core-size: 5
        max-size: 10
        queue-capacity: 100

